<div class="row">
  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item" [ngClass]="{active:menuIndex==1}" (click)="menuClicked(1)"><a
          [routerLink]="['./user']">用户管理</a></li>
      <li class="list-group-item active" [ngClass]="{active:menuIndex==2}" (click)="menuClicked(2)"><a
          [routerLink]="['./student']"></a>成绩管理</li>
      <li class="list-group-item" [ngClass]="{active:menuIndex==3}" (click)="menuClicked(3)"><a
          [routerLink]="['/login']">退出登录</a></li>
    </ul>
  </div>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>

</div>